95 Solution/*/packages/
95 Solution/*/*.suo
95 Solution/*/*.gpState
90 Src/*/obj/
90 Src/*/bin
91 SrcTest/*/bin/
91 SrcTest/*/obj/
99 BuildOutput/*
92 Library/
80 Configuration/*
80 Configuration/*/*
