<loggingConfiguration name="EntLibLogging"
					tracingEnabled="true"
					defaultCategory="General">

  <formatters>
    <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0"
			template="[{timestamp(local:F)}], {severity}, {category} --&gt; {title} --&gt; {message}"
			name="Text Formatter" />

    <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0"
			template="{title} --&gt; {message}"
			name="ConsoleFormatter" />

    <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.BinaryLogFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0"
			name="Binary Log Message Formatter" />
  </formatters>
  
  <listeners>
		<add name="Rolling Flat File Trace Listener"
			type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0"
			listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0"
			fileName="C:\GeneralLog.txt"
			footer=""
			formatter="Text Formatter"
			header=""
			rollFileExistsBehavior="Increment"
			rollInterval="Day"
			timeStampPattern="dd-MM-yyyy"
			traceOutputOptions="Timestamp" />

		<add name="EntLibLogMSMQ"
			type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.MsmqTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0"
			listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.MsmqTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0"
			queuePath=".\private$\EntLibLogMSMQ" 
			formatter="Binary Log Message Formatter"
			recoverable="true"
			traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack" />

		<add name="Event Log Trace Listener"
			type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0"
			listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0"
			source="Enterprise Library Logging"
			formatter="Binary Log Message Formatter"
			log="Application"
			traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack" />
	</listeners>

	<categorySources>
		<add switchValue="All"
		name="Info">
			<listeners>
				<add name="Rolling Flat File Trace Listener" />
      </listeners>
		</add>

		<add switchValue="All"
		name="Warning">
			<listeners>
				<add name="Rolling Flat File Trace Listener" />
			</listeners>
		</add>

		<add switchValue="All"
		name="Error">
			<listeners>
				<add name="Rolling Flat File Trace Listener" />
			</listeners>
		</add>

		<add switchValue="All"
		name="Fatal">
			<listeners>
				<add name="Rolling Flat File Trace Listener" />
			</listeners>
		</add>

		<add switchValue="All"
		name="Debug">
			<listeners>
				<add name="Rolling Flat File Trace Listener" />
			</listeners>
		</add>

		<add switchValue="All"
		name="Audit">
			<listeners>
				<add name="Rolling Flat File Trace Listener" />
			</listeners>
		</add>

		<add switchValue="All"
		name="General">
			<listeners>
				<add name="Rolling Flat File Trace Listener" />
			</listeners>
		</add>
	</categorySources>

	<specialSources>
		<allEvents switchValue="Off"
			 name="All Events">
			<listeners>
				<add name="Rolling Flat File Trace Listener" />
			</listeners>
		</allEvents>

		<notProcessed switchValue="All"
				name="Unprocessed Category">
			<listeners>
				<add name="Rolling Flat File Trace Listener" />
			</listeners>
		</notProcessed>

		<errors switchValue="All"
		 name="Logging Errors &amp; Warnings">
			<listeners>
				<add name="Rolling Flat File Trace Listener" />
			</listeners>
		</errors>
	</specialSources>

</loggingConfiguration>